@import "super/i-block/i-block.styl"

$p = {

}

b-maker extends i-block
	display inline

	&__make-button
		size 24px

	&__drop-down
		display none
		padding 16px

	&_show_true &__drop-down
		display block
