@import "super/i-block/i-block.styl"

$p = {

}

b-button extends i-block
	&
	button
		display inline-flex
		justify-content center
		align-items center

	button
		size 100%
		max-width 100%
		padding 6px 12px
